@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --gray: #3d3d3d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --animate-fade-in-left: fade-in-left 0.8s ease-out forwards;
  --animate-scan: scan 3s linear infinite;

  @keyframes fade-in-left {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes scan {
    from {
      top: 0;
    }
    to {
      top: 100%;
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply antialiased;
  }

  .scrollbar-none {
    scrollbar-width: none;
  }
}